<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLDThi;Integrated Security=True;MultipleActiveResultSets=true;"
      providerName="System.Data.SqlClient" />
    <add name="QLDThi.Properties.Settings.QLDThiConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLDThi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>